@import "../defaults/color";
@import "../defaults/breakpoint";
@import "../index";

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        color: $secondary-color;
    }

    form{

        margin-bottom: 40px;

        .form-elements{
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;

            label{
                font-size: 1.2rem;
            }

            .form-input{
                border: 1px solid $primary-color;
                border-radius: 4px;
                outline: none;
                font-size: 1.2rem;
                font-family: 'Times New Roman', Times, serif;
                
                &:not(.form-textarea){
                height: 32px;
                }

                &.form-textarea{
                    resize: none;
                }

                &:focus{
                    box-shadow: 0 0 8px 3px $primary-color;
                }
                
            }
            
        }
        .btn-div{
            text-align: center;

            #submit{
                height: 40px;
                min-width: 120px;
                background-color: $primary-color;
                color: $secondary-color;
                border-radius: 4px;
                border: none;
                outline: none;
                font-size: 1.1rem;

                &:hover{
                    cursor: pointer;
                    background-color: #45a7c590;
                }
            }
        }
    }
}

@media screen and (min-width: $medium){
    main{
        form{

            .form-elements{
                flex-direction: row;
                justify-content: space-between;

                .form-input{
                    width: 70%;
                }
            }
        }
    }
}