@mixin background-stuff(){
    background-color: $primary-background;
    padding: 16px;
    text-align: center;
}

@mixin background-stuff(){
    background-color: $primary-background;
    padding: 16px;
    text-align: center;
}
